apiVersion: v1
kind: Secret
metadata:
  name: {{.Values.database.secretName}}
type: Opaque
stringData:
  POSTGRES_USER: {{.Values.database.username}}
  POSTGRES_PASSWORD: {{.Values.database.password | default "postgres"}}
  POSTGRES_DB: {{.Values.database.name}}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: {{.Values.database.secretName}}
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: {{.Values.database.port}}
      targetPort: 5432
