# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Continuous Integration

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build-java21:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: 'us-east-1'
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: 21
        cache: maven
    - name: Java version
      run: java --version
    - name: Build unicorn-store-spring with Maven
      run: mvn -B clean package --file pom.xml --no-transfer-progress
      working-directory: ./apps/unicorn-store-spring/
    - name: Build unicorn-spring-ai-agent with Maven
      run: mvn -B clean package --file pom.xml --no-transfer-progress -DskipTests
      working-directory: ./apps/unicorn-spring-ai-agent/
    - name: Install AWS CDK
      run: npm install -g aws-cdk
    - name: AWS CDK version
      run: cdk version
    - name: Build CDK Immersion Day infrastructure
      run: mvn clean package --no-transfer-progress
      working-directory: ./infrastructure/cdk/
    - name: CDK Synth Immersion Day infrastructure
      run: cdk synth
      working-directory: ./infrastructure/cdk/
    - name: Build unicorn-store-wildfly with Docker
      run: ./scripts/wildfly-build.sh
      working-directory: ./apps/unicorn-store-jakarta/
    - name: Build unicorn-store-quarkus with Docker
      run: ./scripts/quarkus-build.sh
      working-directory: ./apps/unicorn-store-jakarta/
    - name: Build unicorn-store-javax with Docker
      run: docker build -t unicorn-store-javax:latest .
      working-directory: ./apps/unicorn-store-javax/

  build-java25:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: 'us-east-1'
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: 25
        cache: maven
    - name: Java version
      run: java --version
    - name: Build unicorn-store-spring with Maven
      run: mvn -B clean package --file pom.xml --no-transfer-progress
      working-directory: ./apps/unicorn-store-spring-java25/
    - name: Build jvm-ai-analyzer with Maven
      run: mvn -B clean package --file pom.xml --no-transfer-progress
      working-directory: ./apps/jvm-analysis-service/
    - name: Install AWS CDK
      run: npm install -g aws-cdk
    - name: AWS CDK version
      run: cdk version
    - name: Build infra CDK
      run: mvn clean package --no-transfer-progress
      working-directory: ./infra/cdk/
    - name: CDK Synth infra
      run: cdk synth
      working-directory: ./infra/cdk/

#    - name: Submit Dependency Snapshot
#      uses: advanced-security/maven-dependency-submission-action@v4
#      with:
#        directory: ./apps/unicorn-store-spring/